<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New car</title>
</head>
<body>

<form th:method="POST" th:action="@{/cars}" th:object="${car}">
    <label for="num">Num: </label>
    <input type="text" th:field="*{num}" id="num"/>

    <br/>
    <label for="color">Color: </label>
    <input type="text" th:field="*{color}" id="color"/>

    <br/>
    <label for="mark">Mark: </label>
    <input type="text" th:field="*{mark}" id="mark"/>

    <br/>
    <label for="isForeign">Is Foreign: </label>
    <input type="text" th:field="*{isForeign}" id="isForeign"/>

    <br>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>